.rightPanel {
  top: 70px;
  height: 100%;
  width: 100%;
  position: fixed;
  background: #ffdedf;
  color: rgb(39, 37, 37);
  padding: em(10px);
}

.link-right {
  color: rgb(39, 37, 37);
}

.content {
  position: relative;
}

/* .card-right {
    padding: 1rem 1rem 1rem 1rem;
  } */

.menu-option {
  position: relative;
}
.menu-option:hover {
  color: rgb(44, 59, 59);
  font-size: large;
  cursor: pointer;
}

.menu-option:after {
  content: "";
  background: rgb(218, 216, 213);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 14%;
}

.banner {
  top: 85px;
}

.menu {
  position: relative;
}
.menu:after {
  top: 30px;
  content: "";
  background: rgb(187, 182, 175);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 14%;
}

.create-container {
  padding-top: 0.5rem;
  top: 85px;
  left: 300px;
  align-self: center;
  margin-bottom: 5%;
}

.create-container form {
  padding: 10%;
  padding-bottom: 5%;
}

.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.create-form {
  padding: 5%;
  padding-top: 3%;
  padding-bottom: 0%;
  background: #d85254;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.create-form h4 {
  text-align: center;
  color: #fff;
}

.create-form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
